/*  your css code here. If applicable */
.container {
  width: 160px;
  height: 80px;
  background-color: #555;
  border-radius: 15px;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  padding: 15px;
}

.light {
  width: 30px;
  height: 30px;
  border-radius: 50%;
}

.red {
  background-color: #f00;
}

.yellow {
  background-color: #ff0;
}

.green {
  background-color: rgb(0, 128, 0);
}